@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
/* Skip importing preflight so it doesn't strip base HTML styles */
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-grenze-gotisch: var(--font-grenze-gotisch);
  --font-pixel: var(--font-pixel);
  --font-garamond: var(--font-garamond);
}

@layer components {
  .text-copy{
    @apply font-garamond;
  }
}
